.bug-report {
    display: none;
    position: absolute;
    /* Стили для формы */
    &__form {
        width: 350px;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        font-size: 10px;
        line-height: 20px;
        color: #778aa7;
        font-family: Gordita-Medium;
        font-weight: 500;
    }
    /* Стили для полей ввода и кнопок */
    &__input-label {
        display: block;
        margin-bottom: 5px;
    }

    &__input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    &__textarea-field {
        width: 100%;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    &__btn-wrapper {
        display: flex;
        column-gap: 10px;
    }
    &__submit-button {
        width: 50%;
        padding: 10px;
        background-color: #2ea2f6;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }
    
    &__cancel-button {
        width: 50%;
        padding: 10px;
        background-color: #ccc;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }
}



